/*Password Change form*/

    input {
        appearance: none;
        border-radius: 0.5rem;
        position: relative;
        display: block;
        width: 100%;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        border-width: 1px;
        border-color: #D1D5DB;
        color: #111827;
        background-color: #fff;
    }

    .dark input {
        border-color: #4B5563;
        color: #fff;
        background-color: #374151;
    }

    input:focus {
        outline: none;
        ring-width: 2px;
        ring-color: #10B981;
        border-color: #10B981;
        z-index: 10;
    }



    /*Password reset Confirm*/

    input {
        appearance: none;
        border-radius: 0.5rem;
        position: relative;
        display: block;
        width: 100%;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        border-width: 1px;
        border-color: #D1D5DB;
        color: #111827;
        background-color: #fff;
    }

    .dark input {
        border-color: #4B5563;
        color: #fff;
        background-color: #374151;
    }

    input:focus {
        outline: none;
        ring-width: 2px;
        ring-color: #10B981;
        border-color: #10B981;
        z-index: 10;
    }


    /*Profile*/

 .nav-link {
    color: #71717a;
  }

  .dark .nav-link {
    color: #71717a;
  }

  .nav-link:hover {
    background-color: #f4f4f5;
    color: #18181b;
  }

  .dark .nav-link:hover {
    background-color: #18181b;
    color: #fafafa;
  }

  .nav-link.active {
    background-color: #f4f4f5;
    color: #059669;
  }

  .dark .nav-link.active {
    background-color: #18181b;
    color: #10b981;
  }



